/*Operador universal tiene más jerarquía */

*{
    padding: 0;
    margin : 0;
}

body{
    font-family: monospace, sans-serif;
    font-weight: bold;
    background-color: transparent;
}

header{
    width: 100%;
    height: 240px;
    background-image: url('/repaso/marketHTML/root/images/header-background.jpg');
}

/* .header-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
} */


.header-nav{
    height: 45px;
    background-color: #00705e;
    padding: 25 px;
    position:relative;
}

h3{
    position:absolute;
    top: 0;
    left:50px;
    color:whitesmoke;
    font-size: 25px;
}

h3 span{
    color:rgb(46, 231, 222);
    font-size: 30px;
}

.header-nav:hover{
    background-color: #05b698;
}

.header-nav ul{
    display: flex; /* Coloca en nivel horizontal y los deja como elementos de linea --> */
    justify-content: flex-end;
    list-style: none;
    border-block-start: 10px solid transparent ;
}

.header-nav ul li{
    color:#fff;
    padding-inline-end: 20px;
    cursor: pointer
}

.header-nav ul li:hover {
    font-size: 22px;
    color: rgb(12, 167, 82);
}

h1{
    text-align: center;
    font-size: 40   px;
    margin-block-start: 30px;
    background-color: transparent;
    border-block-end: 1px solid #05b698;
}

/* Estilos main */

main{
    display:flex;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

main .fruit-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
    margin-inline-start:100px;
    margin-block-start: 100px;
    margin-block-end: 100px;
    border: 2px solid transparent;
    border-radius: 12px;
    background-color: #00705e;
}

.fruit-card img{
    border-radius: 10px;
    margin:0 1px;
    margin-block-start: -25px;
    width: 100%;
    height: 250px;
    object-fit:cover; /* Propiedad para que cubra todo el espacio la imagen*/
}

.fruit-card h2{
    font-size: 35px;
    font-weight: bold;
    color:whitesmoke;
}

.fruit-card p{
    font-family: sans-serif;
    padding: 0 2px 2 6px;
    color:whitesmoke;
    text-align: center;
}

/*Estilos footer */

footer{
    padding: 10px 15px;
    background-color: #00705e;
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
}

footer p span{
    color: rgb(12, 167, 82);
}

footer p span:hover{
    color: rgb(46, 231, 222);
    cursor:pointer;
}